:root {
    --black: black;
    --antique-white: antiquewhite;
    --primary: var(--black);
    --secondary: var(--antique-white)
}
#Itembox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.ItemCard {
    width: 30%;
    text-align: center;
    align-items: center;
}
body {
    background-color: var(--primary);
    color: var(--secondary)
}
