:root {
    --black: black;
    --antique-white: antiquewhite;
    --light-blue: rgb(0, 251, 255);
    --blue: blue;
    --primary: var(--black);
    --secondary: var(--light-blue);
    --third: var(--antique-white);
    --fourth: var(--blue);
}
#Itembox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.ItemCard {
    width: 30%;
    text-align: center;
    align-items: center;
    background-color: var(--third);
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--fourth)
}
body {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
}
.buttons {
    text-align: center;
}
